<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>
	<body>
		<h1>Sry right now some maintainence going<br>We will back soon.</h1>
		{{> footer}}
	</body>
</html>